{% extends "base.html" %}

{% block content %}
    <hgroup class="home-header">
        <h2>A few house rules before we start</h2>
        <h4>Please take note of the following</h4>
    </hgroup>
    <section class="home-page">
        <p class="first-p">
            Welcome to the rock paper scissors game. Read the following instructions and do remember to have fun!
            <ul>
                <li>
                    To go up against a fellow <b>Humanoid</b>, click on the 2 players icon above
                </li>
                <li>
                    Next steps, fill out your names and choose your weapons and get ready to do battle! <span class="entity">&#9876;</span> 
                </li>
                <li>
                    Remember, have fun. One for all and all for one!
                </li>
            </ul>
        </p>
        <p>
            However, if you want to try your luck against <b>Titanius</b> <span>&#129302;</span> then be my guest!
            <ul>
                <li>
                    To go up against Titanius, you need to click on the single player icon above
                </li>
                <li>
                    Fill out your name, choose your weapon, and prepare <b>Titanius Awaits</b>
                </li>
                <li>
                    Once again have fun young warlock.
                </li>
            </ul>
        </p>
    </section>
    

{% endblock %}
